<div class=\"report-info\">\n
    <div class=\"toggle-header toggle-close-all report-info-head report-info-head-gray\
    ">\n IV LIGA <i class=\"arrow arrow-gray i-toggle-down-gray\"><\/i>\n <\/div>\n
    <div class=\"toggle-content\" style='display:none'>\n
        <ul class=\"box-list league-list c\
        ">\n
        <li>\n <a href=\"https:\/\/www.laczynaspilka.pl\/rozgrywki\/nizsze-ligi,36718.html\" data-game-id='36718'>IV
            Liga &quot;forBET&quot;<\/a>\n <\/li>\n <\/ul>\n <\/div>\n <\/div>\n
            <div class=\"report-info\">\n
                <div class=\"toggle-header toggle-close-all report-info-head report-info-head-gray\
                ">\n KLASA OKR\u0118GOWA <i class=\"arrow arrow-gray i-toggle-down-gray\"><\/i>\n <\/div>\n
                <div class=\"toggle-content\" style='display:none'>\n
                    <ul class=\"box-list league-list c\
                    ">\n
        <li>\n <a href=\"https:\/\/www.laczynaspilka.pl\/rozgrywki\/nizsze-ligi,36765.html\" data-game-id='36765'>Klasa
            okr\u0119gowa Grupa 1<\/a>\n <\/li>\n
        <li>\n <a href=\"https:\/\/www.laczynaspilka.pl\/rozgrywki\/nizsze-ligi,36769.html\" data-game-id='36769'>Klasa
            okr\u0119gowa Grupa 2<\/a>\n <\/li>\n <\/ul>\n <\/div>\n <\/div>\n
            <div class=\"report-info\">\n
                <div class=\"toggle-header toggle-close-all report-info-head report-info-head-gray\
                ">\n KLASA A <i class=\"arrow arrow-gray i-toggle-down-gray\"><\/i>\n <\/div>\n
                <div class=\"toggle-content\" style='display:none'>\n
                    <ul class=\"box-list league-list c\
                    ">\n
        <li>\n <a href=\"https:\/\/www.laczynaspilka.pl\/rozgrywki\/nizsze-ligi,36774.html\" data-game-id='36774'>Klasa
            A Grupa 1<\/a>\n <\/li>\n
        <li>\n <a href=\"https:\/\/www.laczynaspilka.pl\/rozgrywki\/nizsze-ligi,36778.html\" data-game-id='36778'>Klasa
            A Grupa 2<\/a>\n <\/li>\n
        <li>\n <a href=\"https:\/\/www.laczynaspilka.pl\/rozgrywki\/nizsze-ligi,36789.html\" data-game-id='36789'>Klasa
            A Grupa 3<\/a>\n <\/li>\n
        <li>\n <a href=\"https:\/\/www.laczynaspilka.pl\/rozgrywki\/nizsze-ligi,36794.html\" data-game-id='36794'>Klasa
            A Grupa 4<\/a>\n <\/li>\n <\/ul>\n <\/div>\n <\/div>\n
            <div class=\"report-info\">\n
                <div class=\"toggle-header toggle-close-all report-info-head report-info-head-gray\
                ">\n KLASA B <i class=\"arrow arrow-gray i-toggle-down-gray\"><\/i>\n <\/div>\n
                <div class=\"toggle-content\" style='display:none'>\n
                    <ul class=\"box-list league-list c\
                    ">\n
        <li>\n <a href=\"https:\/\/www.laczynaspilka.pl\/rozgrywki\/nizsze-ligi,36799.html\" data-game-id='36799'>Klasa
            B Grupa 1<\/a>\n <\/li>\n
        <li>\n <a href=\"https:\/\/www.laczynaspilka.pl\/rozgrywki\/nizsze-ligi,36801.html\" data-game-id='36801'>Klasa
            B Grupa 2<\/a>\n <\/li>\n
        <li>\n <a href=\"https:\/\/www.laczynaspilka.pl\/rozgrywki\/nizsze-ligi,36803.html\" data-game-id='36803'>Klasa
            B Grupa 3<\/a>\n <\/li>\n <\/ul>\n <\/div>\n <\/div>\n
            <div class=\"report-info\">\n
                <div class=\"toggle-header toggle-close-all report-info-head report-info-head-gray\
                ">\n KLASA C <i class=\"arrow arrow-gray i-toggle-down-gray\"><\/i>\n <\/div>\n
                <div class=\"toggle-content\" style='display:none'>\n
                    <ul class=\"box-list league-list c\
                    ">\n
        <li>\n <a href=\"https:\/\/www.laczynaspilka.pl\/rozgrywki\/nizsze-ligi,37340.html\" data-game-id='37340'>Klasa
            C &quot;S\u0141AWEK-PZPN&quot; Grupa 50<\/a>\n <\/li>\n <\/ul>\n <\/div>\n <\/div>\n
